{% from "src/components/card/cards.njk" import cardIcon as card %}

{% set cardData = [{
  href:  "11",
  title: "День открытых дверей",
  text:  "19 марта приглашаем вас на день открытых дверей",
  color: "red",
  icon:  "ui-83"
}, {
  href:  "22",
  title: "Конкурсы и олимпиады",
  text:  "Олимпиада по экономике и финансам",
  color: "blue",
  icon:  "sports-11"
}, {
  href:  "33",
  title: "Подготовка к ЕГЭ",
  text:  "Подготовительные курсы",
  color: "green",
  icon:  "finance-35"
}] %}


<section class="c-main-promo">
  <div class="l-container">
    <div class="l-grid">
      <div class="l-grid__flex l-grid__flex--row c-main-promo__str">
        <section class="l-grid__flex l-grid__element c-main-promo__str-left">
          <div class="l-grid__content">

            {% include "src/pages/home/slider/slider.njk" %}
            
          </div>
        </section>
        <section class="l-grid__flex l-grid__flex--col c-main-promo__str-right">

          {% for data in cardData %}
          <div class="l-grid__flex l-grid__element c-main-promo__str-right-item">
            <article class="l-grid__flex l-grid__content">
              {{ card(data) }}
            </article>
          </div>
          {% endfor %}

        </section>
      </div>
    </div>
  </div>
</section>